In [64]:
!pip install sly
!pip install pandas

Requirement already satisfied: sly in /Users/luciaatienzaolmo/opt/anaconda3/lib/python3.9/site-packages (0.4)
Requirement already satisfied: pandas in /Users/luciaatienzaolmo/opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/luciaatienzaolmo/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/luciaatienzaolmo/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/luciaatienzaolmo/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/luciaatienzaolmo/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [1]:
from sly import Lexer
import pandas as pd

In [6]:
class Example(Lexer):
    # errores
    def error(self, t):
        print(t)
        # print(f'Illegal character {t.value[0]}') 
        self.index += 1
    
    tokens = {ID, IF, THEN, ELSE, WHILE, INT, FLOAT, CHAR, FOR, RETURN, COMMENT1, COMMENT2, BARRA, 
              NUMEROS_FLOAT, NUMEROS_ENTEROS, ASTERISCO, SALTO}
    # String containing ignored characters (between tokens)
    ignore = r' \t\[\]\(\)\{\}+-<>=\'\";' # Base ID rule
    ID = r'[a-zA-Z_][a-zA-Z0-9_]*'
    COMMENT1 = r'//[ a-zA-Z_][ a-zA-Z0-9_ \s]*'
    COMMENT2 = r'/\*[ a-zA-Z_][ a-zA-Z0-9_ \s]* \*/'
    BARRA = r'/'
    ASTERISCO = r'\*'
    NUMEROS_FLOAT = r'\d+\.\d+'
    NUMEROS_ENTEROS = r'[0-9]'
    SALTO = r'\n'
    # Special cases
    ID['if'] = IF 
    ID['then'] = THEN
    ID['else'] = ELSE 
    ID['while'] = WHILE
    ID['int'] = INT
    ID['float'] = FLOAT
    ID['char'] = CHAR
    ID['for'] = FOR
    ID['return'] = RETURN
    
tokens = { 'IF': 0, 'ELSE': 0, 'CHAR': 0, 'THEN': 0, 'WHILE': 0, 'INT': 0, 'FLOAT': 0, 'FOR': 0, 'RETURN': 0, 
         'COMMENT1': 0, 'COMMENT2': 0, 'NUMEROS_ENTEROS':0, 'NUMEROS_FLOAT':0}
    
f = open("input.txt")
lineas = f.readlines()
lexer = Example()
i = 1;
for linea in lineas:
    #print(linea)
    for token in lexer.tokenize(linea):
        if token.type != 'ID' and token.type != 'SALTO' and token.type != 'ASTERISCO' and token.type != 'BARRA':
            print(f'Linea: {i}; Type: {token.type}; Value: {token.value}')
            valor_anterior =  tokens[token.type]
            tokens = { **tokens, token.type: valor_anterior+1}
    i = i+1;
f.close()

pd.DataFrame(tokens.items())

Linea: 1; Type: COMMENT2; Value: /* hola adios  */
Linea: 2; Type: INT; Value: int
Linea: 4; Type: INT; Value: int
Linea: 4; Type: NUMEROS_ENTEROS; Value: 0
Linea: 5; Type: FLOAT; Value: float
Linea: 5; Type: NUMEROS_FLOAT; Value: 0.3
Linea: 6; Type: CHAR; Value: char
Linea: 7; Type: FOR; Value: for
Linea: 7; Type: INT; Value: int
Linea: 7; Type: NUMEROS_ENTEROS; Value: 0
Linea: 7; Type: NUMEROS_ENTEROS; Value: 1
Linea: 7; Type: NUMEROS_ENTEROS; Value: 0
Linea: 10; Type: IF; Value: if
Linea: 12; Type: ELSE; Value: else
Linea: 13; Type: RETURN; Value: return
Linea: 13; Type: NUMEROS_ENTEROS; Value: 0

                  0  1
0                IF  1
1              ELSE  1
2              CHAR  1
3              THEN  0
4             WHILE  0
5               INT  3
6             FLOAT  1
7               FOR  1
8            RETURN  1
9          COMMENT1  0
10         COMMENT2  1
11  NUMEROS_ENTEROS  5
12    NUMEROS_FLOAT  1